.cardService{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-bottom: 10px;
    border: 1px red solid;
    border-radius: 10px;
};